$base-color: #4C9FD2;
$base-color-dark: #4188B3;
$off-black: #1B1B1B;
$off-white: #FBFBFB;

html {
  box-sizing: border-box;
  font: 12pt Exo, 'Open Sans', Arial;
  color: $off-white;
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

h4, h2 {
  margin: 0;
}