.primary-footer {
  background-color: $off-black;
  color: white;
  min-height: 100px;
  position: relative;

  > div {
    position: absolute;
    top: 40px;
    left: 170px;
  }

  nav {
    position: absolute;
    font-size: 1.7em;
    top: 20px;
    right: 170px;

    .fa {
      margin: 15px;
    }
  }
}