.primary-header {
  background-color: transparent;
  min-height: 100px;
  position: relative;

  .fa {
    color: white;
    font-size: 4em;
    position: absolute;
    top: 10px;
    left: 200px;
  }

  .primary-nav {
    position: absolute;
    top: 30px;
    right: 200px;

    .btn {
      margin: 0 0.2em;
    }
  }
}