.primary-header {
  background-color: transparent;
  min-height: 100px;
  position: relative;

  &.dark {
    background-color: $off-black;
  }

  .fa {
    color: $off-white;
    font-size: 4.5em;
    position: absolute;
    top: 15px;
    left: 170px;
  }

  .primary-nav {
    position: absolute;
    top: 30px;
    right: 170px;

    .btn:not(:last-child) {
      border: none;
      padding: 15px 10px;
      margin-right: 12px;
    }

    a.btn:last-child {
      -webkit-transition: all 0.2s;

      &:hover {
        background-color: $off-white;
        color: #444;
      }
    }

    .btn {
      padding: 15px 25px;
    }
  }
}