.primary-header {
  background-color: transparent;
  min-height: 100px;
  position: relative;

  &.dark {
    background-color: #000;
  }

  .fa {
    color: white;
    font-size: 4.5em;
    position: absolute;
    top: 15px;
    left: 170px;
  }

  .primary-nav {
    position: absolute;
    top: 30px;
    right: 170px;

    .btn:not(:last-child) {
      border: none;
      padding: 15px 10px;
      margin-right: 12px;
    }

    .btn {
      padding: 15px 25px;
    }
  }
}