button {
  outline: none;
  color: $off-white;
  background-color: transparent;
  border: 1px solid $off-white;
  padding: 1em;
  border-radius: 4px;
}

a.btn {
  @extend button;
  text-decoration: none;
  display: inline-block;
}

%content-box {
  overflow: hidden;
  width: 340px;
  min-height: 450px;
  background-color: $off-white;
  color: $off-black;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%content-box-button {
  background-color: $base-color;
  display: block;
  width: 237px;
  padding: 12px;
  margin: 17px auto;
  text-align: center;
  border: none;

  &:hover {
    background-color: $base-color-dark;
  }
}