div.background {
  background-color: #A5A5A5;
  min-height: 580px;
  position: relative;
  overflow: hidden;

  > div {
    position: relative;
    min-height: 480px;
  }

  &.wallpaper {
    background-image: radial-gradient(rgba(35, 35, 35, 0.3), rgba(35, 35, 35, 0.3)), url('../images/bg3.jpg');
    background-size: cover;
  }

  &.lightbox {
    background: radial-gradient(rgba(35, 35, 35, 0.8), rgba(35, 35, 35, 0.8)), url('../images/bg3.jpg');
    background-size: cover;
  }

  .profile-box {
    min-height: 300px;
  }
}

.banner {
  position: absolute;
  text-align: center;
  min-height: 170px;
  left: 0;
  right: 0;
  top: 110px;

  h1 {
    color: $off-white;
    font-size: 4.5em;
    margin: 0;
  }

  p {
    color: $off-white;
    font-size: 1.4em;
    display: block;
    width: 420px;
    margin: 0 auto 15px auto;
  }

  a.btn {
    display: inline-block;
    padding: 20px 40px;
    transition: all 0.2s;

    &:hover {
      background-color: $off-white;
      color: #444;
    }
  }
}