div.background {
  background-color: #A5A5A5;
  min-height: 580px;
  position: relative;
  overflow: hidden;

  > div {
    position: relative;
    min-height: 480px;
    @media screen and (min-width: 1400px) {
      min-height: 82vh;
    }
  }

  &.wallpaper {
    background-image: radial-gradient(rgba(35, 35, 35, 0.25), rgba(35, 35, 35, 0.25)), url('../images/homebg2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.lightbox {
    background: radial-gradient(rgba(35, 35, 35, 0.9), rgba(35, 35, 35, 0.9)), url('../images/homebg2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.banner {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);

  h1 {
    color: $off-white;
    font-size: 4.5em;
    margin: 0;
  }

  p {
    color: $off-white;
    font-size: 1.4em;
    display: block;
    width: 420px;
    margin: 0 auto 15px auto;
  }

  a.btn {
    display: inline-block;
    padding: 20px 40px;
    transition: all 0.2s;

    &:hover {
      background-color: $off-white;
      color: #444;
    }
  }
}