.login-box, .signup-box {
  @extend %content-box;

  h1 {
  width: 170px;
  margin: 65px auto;
  font-size: 33pt;

    .fa {
      color: #000;
      font-size: 40pt;
      margin-right: 10px;
    }
  }

  .fa {
    color: #000;
    font-size: 20pt;
  }

  button {
    @extend %content-box-button;
  }

  .cb-form {
    margin-left: 25px;
  }

  .cb-wrapper {
    display: inline-block;
    width: 125px;
  }
}

.login-box .form-object input {
  padding: 12px 4px;
  font-size: 11pt;
}

.signup-box {
  width: 800px;
  min-height: 460px;

  h1 {
    width: 220px;
    margin: 30px auto 12px auto;
  }

  h3 {
    margin: 10px 0 0 15px;
    font-size: 17pt;
  }

  .fa {
    font-size: 17pt;
  }

  .form-object {
    margin-left: 80px;
  }

  select {
    width: 235px;
  }
}

.form-divider {
  @include media-object(400px);

  > :last-child .form-object {
    margin-left: 20px;
  }
}

.form-object {
  @include media-object(29px);
  margin-top: 15px;

  > :first-child {
    margin: 7px 5px 0 20px;
  }

  input {
    outline: none;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    width: 235px;
    padding: 8px 4px;
    font-size: 10pt;
    transition: all 0.3s;

    &:focus {
      border: 1px solid $base-color;
    }
  }
}

