.profile-box {
  color: $off-white;
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
  margin: 40px auto;
  width: 50%;

  b {
    color: $base-color-dark;
  }
}

.button-options {
  text-align: center;

  a.btn {
    width: 40%;
    margin: 0 20px 20px 20px;
    padding: 6px 20px;
    text-align: center;
    border: none;

    &:first-child {
      background-color: $base-color;

      &:hover {
        background-color: $base-color-dark;
      }
    }

    &.alternate {
      background-color: #A9A9C2;

      &:hover {
        background-color: #9393A9;
      }
    }
  }
}

.user-hero {
  background: radial-gradient(rgba(35, 35, 35, 0.33), rgba(35, 35, 35, 0.33)), url('../images/crowd2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 220px;
  position: relative;

  img {
    position: absolute;
    top: 40px;
    left: 120px;
    width: 150px;
    height: 150px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }
}

.user-name {
  position: absolute;
  top: 70px;
  left: 300px;

  h2 {
    margin: 6px 6px 6px 0;
    padding: 3px 30px 3px 0;
    font-size: 25pt;
    display: inline-block;
  }
}

.user-info {
  overflow: hidden;
  margin-bottom: 15px;
  @include media-object(50%);

  h4 {
    padding-left: 6px;
  }
}

.profile-content {
  padding: 25px;

  p {
    margin-left: 10px;
  }
}

.band-form-bg {
  background: radial-gradient(rgba(35, 35, 35, 0.7), rgba(35, 35, 35, 0.7)), url('../images/bandform.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.band-form-divider {
  @include media-object(290px);
}

.band-form {
  width: 600px;

  .form-object {
    margin-top: 20px;
    margin-left: 30px;
  }

  select {
    width: 200px;
    margin-top: 10px;
  }

  .fa {
    font-size: 18pt;
  }

  .band-form-divider input {
    padding: 6px 6px;
    width: 200px;
  }

  .cb-form {
    margin: 5px auto;
    width: 440px;

    label {
      margin-left: 2px;
    }
  }

  .cb-wrapper {
    margin-left: 20px;
  }

  h1 {
    font-size: 27pt;
    width: 300px;
    margin: 20px auto 10px auto;
  }
}

.band-profile {
  text-align: center;
  padding: 30px;

  h2 {
    font-size: 27pt;
  }

  h4 {
    font-size: 13pt;
  }

  img {
    width: 280px;
    height: 230px;
    border: 3px solid #000;
    border-radius: 4px;
  }

  a.btn {
    @extend %content-box-button;
    width: 150px;
    padding: 5px 25px;

    &.alternate {
      background-color: #A9A9C2;

      &:hover {
        background-color: #9393A9;
      }
    }

    &.delete {
      background-color: #D00606;

      &:hover {
        background-color: #A10505;
      }
    }
  }
}

$member-width: 510px;
$width-hover: $member-width / 3;
$height-hover: 160px;

.band-members {
  width: $member-width;
  margin: 0 auto;
  
  h2 {
    font-size: 25pt; 
    border-bottom: 2px solid $base-color;
  }
}

.member-container {
  margin-top: 10px;
  margin-bottom: 25px;
}

.member-tile {
  display: inline-block;
  position: relative;
  visibility: visible;

  img {
    width: $width-hover;
    height: $height-hover;
    display: block;
  }
}

.text-wrapper {
  color: #FFF;
  opacity: 0;
  position: absolute;
  width: $width-hover;
  height: $height-hover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(35, 35, 35, 0.8);
  text-align: center;
  transition: all 0.4s;

  a.btn {
    padding: 2px 5px;
    color: #FFF;
    font-size: 10pt;
    width: 70px;
    transition: all 0.2s;

    &:hover {
      background-color: #FFF;
      color: #444;
    }
  }

  button.delete {
    display: block;
    margin: 25px auto 0 auto;
    padding: 2px 5px;
    border-color: #FF0000;
    color: #FF0000;
    font-size: 9pt;
    width: 100px;
    transition: all 0.2s;

    &:hover {
      background-color: #FF0000;
      color: #444;
    }
  }
}

.inner-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h4 {
    color: $base-color;
    font-size: 13pt;
    margin: 7px;
  }
}

.member-tile:hover .text-wrapper {
  opacity: 1;
}