#map {
  color: $off-black;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  position: relative;

  img {
    width: 60px;
    height: 60px;
  }

  h2 {
    font-style: bold;
    color: $base-color-dark;
    font-size: 14pt;
    margin: 5px;
  }

  h5 {
    font-size: 10pt;
    margin: 3px;
  }

  a {
    text-decoration: none;
  }
}

.search-box {
  @extend %content-box;
  transform: translate(110%, -25%);
  width: 300px;
  min-height: 350px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 12px -4px #000;

  h2 {
    width: 250px;
    font-size: 16pt;
    margin: 30px auto;
  }

  .map-choices {
    width: 260px;
    margin: 0 auto;

    label {
      margin-right: 25px;
    }
  }

  .fa {
    font-size: 17pt;
  }
  
  .form-object {
    margin-left: 15px;
    margin-top: 15px;

    input {
      width: 170px;
    }
  }

  select {
    width: 170px;
  }

  button {
    color: $off-white;
    width: 200px;
    padding: 9px;
    @extend %content-box-button;  
  }
}