doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  body
    block content
    script(src="http://maps.google.com/maps/api/js?sensor=true")
    script(src="/gmaps.js")
    script(src="/build/bundle.js")